#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide p {
    color: rgb(255, 255, 255);
    height: 25px;
    line-height: 25px;
    width: 100%;
    display: inline-block;
    
    margin: 5px;
  }
  .pp{
    background-color: #103b29!important;
    border-radius: 0px 0px 15px 15px;
  }
  .sw {
    color: #dc3545; 
    font-size: 26px;
    margin-left: 25px;
  }
  .sw1 {
    margin-left: 25px;
    color: #103b29;
  }